<h2 mat-dialog-title>New Product</h2>
<form action="">
<mat-dialog-content class="mat-typography">
  <div class="col-12">
    <label for="description">Product Description</label>
    <input type="text" class="form-control" placeholder="description" id="description">
  </div>
  <br>
  <div class="col-12">
    <label for="unit_rice">Product Unit Price</label>
    <input type="number" class="form-control" id="unit_rice">
  </div>
  <br>
  <div class="col-12">
    <label for="qty">Product QTY On Hand</label>
    <input type="text" class="form-control" id="qty">
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
</form>
