<div class="outer" style="margin: 20px 0">

  <div class="container">
    <hr>
    <h1>Order Management</h1>
    <hr>
    <div class="row">
      <div class="col-12" style="margin-top: 50px">
        <table class="table">
          <thead>
          <tr>
            <th>#id</th>
            <th>Created Date</th>
            <th>Total Cost</th>
            <th>QTY</th>
            <th>Payment type</th>
            <th>Customer</th>
            <th>Product</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="context">
                djh-23sd-sd &nbsp;
                <mat-icon>content_copy</mat-icon>
              </div>
            </td>
            <td>
              <div class="context">
                2022 Jan 22
              </div>
            </td>
            <td>
              <div class="context">
                $234
              </div>
            </td>
            <td>
              <div class="context">
                123
              </div>
            </td>
            <td>
              <div class="context">
               CARD
              </div>
            </td>
            <td>
              <div class="context">
                Saman Silva
              </div>
            </td>
            <td>
              <div class="context">
                ABC Product
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
